

.colores{
    background: linear-gradient(600deg,rgba(145, 190, 248, 0.644),#640218fd);
    height: 700px;
    width: 100%;
    max-height: 1000px;
    
}
.bordes{
    border: solid 5px rgb(26, 27, 27);
    border-radius: 20px;
    border-style:double;
    justify-content: center;
}
.bordes-img{
    border-radius: 20px;
}
.bordes-boton{
    border: solid 5px rgb(26, 27, 27);
    border-radius: 20px;
    border-style:double;

}
.centrar{
    text-align: center;
}
.boton-color{
    background-color: rgba(221, 11, 29, 0.952);
}

.caja{
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cambia{
    background: url("myAvatar.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#e6f0f0;
    height: 30em;
    border-radius: 20px;
    
}
.img-cambia:hover{
    background: url("foto2.jpeg");
    background-size:100%;
    background-repeat: no-repeat;
    height: 30em;
    border-radius: 20px;
    
}
